// Some Main Scss You Can Style Here
// Add Scss And Bootstrap ( yarn add -D  bootstrap@4.5.2 )
// import "bootstrap/dist/css/bootstrap.min.css";
// import "./styles/index.scss";
// Inside "./src/index.js";

@keyframes custom-breathre-animation {
  0% {
    animation-timing-function: cubic-bezier(0.9647, 0.2413, -0.0705, 0.7911);
    transform: scale(0.9099999999999999);
  }

  51% {
    animation-timing-function: cubic-bezier(0.9226, 0.2631, -0.0308, 0.7628);
    transform: scale(1.02994);
  }
  100% {
    transform: scale(0.9099999999999999);
  }
}

.LoadingContainer {
  width: 30px;
  height: 30px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}

.MuiTableRow-root {
  border-spacing: "0px 2px";
}

.MuiTableRow-root td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.MuiTableRow-root td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.MuiTableRow-root td {
  padding-top: 4px;
  padding-bottom: 4px;
}

.MuiTableRow-root {
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 8px;
  background-color: #fbfbfb;
}

.MuiTableRow-root th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.MuiTableRow-root th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.MuiTableRow-root th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgb(240, 247, 255);
}

.TableLoading {
  width: 70px;
  height: 70px;
  margin: 1rem auto 0.5rem auto;
}

.ActionPrimary {
  background-color: #d3e8f9 !important;
  margin-left: 3px !important;
  transform: scale(0.8);
}
.ActionWarning {
  background-color: #fff5d2 !important;
  margin-left: 3px !important;
  transform: scale(0.8);
}

.ActionDefault {
  margin-left: 3px !important;
  transform: scale(0.8);
}

.ActionDanger {
  background-color: #ffe6e6 !important;
  margin-left: 3px !important;
  transform: scale(0.8);
}
